<app-header></app-header>
<div id="todos-container">
    <div id="todo-list" *ngIf="todos">
        <ng-container *ngFor="let day of todos; let dayindex = index; trackBy:trackDays">
            <div id="{{day.id}}" class="list" 
            [cdkDropListData]="day.list"
            (cdkDropListDropped)="drop($event, day.list, day.id)"
            [cdkDropListConnectedTo]="connectedTo"
            cdkDropList>
                <h3 matSubheader [ngClass]="{'past': checkPast(day.id)}" *ngIf="day.id !== 'null'">{{day.id | amLocale:'en-GB' | amDateFormat:'LL' }}</h3>
                <h3 matSubheader [ngClass]="{'past': checkPast(day.id)}" *ngIf="day.id === 'null'">No Due Date</h3>

                <div class="drop-zone">
                    <div cdkDrag class="todo-container mat-elevation-z2" [ngClass]="{'highlight': checkAge(todo), 'completed': todo.completed}" cdkDragLockAxis="y" *ngFor="let todo of day.list; trackBy:trackDays">
                        <button mat-icon-button cdkDragHandle class="drag"><mat-icon>drag_handle</mat-icon></button>
                        <button mat-icon-button (click)="markAsCompleted(todo)"><mat-icon>{{todo.completed ? 'check_box' : 'check_box_outline_blank'}}</mat-icon></button>
                        <div class="todo-detail">
                            <span class="what" mat-line>{{todo.todo}}</span>
                            <span class="who" mat-line>
                                <mat-icon>person</mat-icon>
                                {{getUserName(todo.user_id)}}
                            </span>
                        </div>
                        <!-- <button mat-icon-button mat-datepicker-toggle><mat-icon>today</mat-icon></button> -->
                        <button mat-icon-button (click)="deleteTodo($event, todo.id)"><mat-icon>delete</mat-icon></button>
                        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                    </div>
                    <div [ngClass]="{'no-items': !day.list.length}" *ngIf="!day.list.length"><span>No tasks to do on this day</span></div>
                </div>
            </div>
        </ng-container>
        <!-- <mat-divider></mat-divider> -->
    </div>
    <div id="no-items" *ngIf="!todos">
        <img src="assets/Icon-no-todo-items.png" alt="">
    </div>
</div>
<mat-card id="todo-form" [formGroup]="form">
    <div>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="What?" formControlName="todo">
        </mat-form-field>
        <mat-form-field>
            <input matInput (focus)="picker.open()" [matDatepicker]="picker" formControlName="date" placeholder="When?">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <button mat-fab color="primary" (click)="addTodo()" type="button">
        <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
    </button>
</mat-card>