<mat-toolbar color="primary">
    <span>To-do List</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item  (click)="openProfile()">
            <mat-icon>person</mat-icon>
            <span>Edit Profile</span>
        </button>
        <button mat-menu-item (click)="signOut()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>
</mat-toolbar>
